<!DOCTYPE html>
<html lang="en">
<head>
    <title>contact-us</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: #343a40;
        }
        a{
            color: rgb(223, 223, 223);
            text-decoration: none;
            background-color: transparent;
        }
        a:hover{
            color: white;
        }
        .navbar-dark .navbar-brand {
            color: rgba(255, 255, 255);
        }
        .navbar-dark .navbar-nav .nav-link {
            font-family: 'Montserrat', sans-serif;
            font-size: 0.8em;
            color: rgb(223, 223, 223);
            font-weight: 550;
        }
        .navbar-dark .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
            color: rgb(255, 255, 255);
            font-weight: 700;
        }
        .navbar-dark .navbar-brand {
            color: rgb(241, 241, 241);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 550;
        }
        .navbar-dark .navbar-brand:hover {
            color: rgb(241, 241, 241);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 550;
        }
        .navbar-dark .navbar-toggler {
            color: rgba(255,255,255,.5);
            border: none;
        }
        .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
            position: relative;
            width: 100%;
            /* padding-right: 15px; */
            /* padding-left: 15px; */
        }
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            /* margin-right: -15px; */
            /* margin-left: -15px; */
        }
        form {
            display: block;
            margin-top: 1%;
        }
        .form-group {
            margin-bottom: 1.2rem;
        }
        #dotted {
            background-color: rgb(238, 235, 235);
            border:0;
            border-bottom: 1px dotted;
        }
        #solid{
            background-color: rgb(238, 235, 235);
            border:0;
            border-bottom: 1px solid;
        }
        input[type="text"], input[type="email"] input[type="password"], textarea, select { 
            outline: none;
        }
        textarea{
            line-height: 4ch;
            background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #fdfeff 0px);
            background-size: 100% 4ch;
        }
        .btn-primary {
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
        }
        .btn-primary:hover {
            color: rgb(0, 0, 0);
            font-weight: 600;
            background-color: #eeeeee;
            border-color: #eeeeee;
        }
        #head{
            margin-top: 15%;
            font-family: 'Playfair Display', serif;
            font-size: 2rem;
            color: white;
        }
        #icons{
            margin-left: 39%;
            color: white;
        }
        i.fab{
            padding-left: 3%;
        }

    </style>
</head>
<body">