
    
    <script src="https://kit.fontawesome.com/4b65a596ad.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var a = $(".nav-link");
        var b = $("#main");
        var c = $(".dropdown-item");
        // var d = window.matchMedia("(min-width: 268px)");
        var e = window.matchMedia("(min-width: 1000px)").matches;
        var f = window.matchMedia("(min-width: 768px)").matches;
        if (e) {
            a.hover(function(e){
                b.css("paddingTop", "12%");
            });
            c.hover(function(e){
                b.css("paddingTop", "12%")
            });
            a.mouseout(function(e){
                b.css("paddingTop", "12%");
            });
            c.mouseout(function(e){
                b.css("paddingTop", "12%");
            });
        }else if (f){
            a.hover(function(e){
                b.css("paddingTop", "45%");
            });
            c.hover(function(e){
                b.css("paddingTop", "45%")
            });
            a.mouseout(function(e){
                b.css("paddingTop", "35%");
            });
            c.mouseout(function(e){
                b.css("paddingTop", "35%");
            });
        }else {
            a.hover(function(){
                b.css("paddingTop", "60%");
            });
            c.hover(function(){
                b.css("paddingTop", "60%")
            });
            a.mouseout(function(){
                b.css("paddingTop", "45%");
            });
            c.mouseout(function(){
                b.css("paddingTop", "45%");
            });
        }
    </script>
    </body>
</html>