<%- include("partials/aboutHeader") %>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-transparent nav-static-top fixed-top">
    <a class="navbar-brand" href="/">Mux_mediaPhotography</a>
    <button class="navbar-toggler navbar-toggle-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GALLERY</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/gallery/products">Products</a>
            <a class="dropdown-item" href="/gallery/pre-wedding">Pre-wedding</a>
            <a class="dropdown-item" href="/gallery/wedding">Wedding</a>
            <a class="dropdown-item" href="/gallery/studio-shoot">Studio shoot</a>
            <a class="dropdown-item" href="/gallery/beauty">Beauty</a>
            <a class="dropdown-item" href="/gallery/portrait">Portrait</a>
            <a class="dropdown-item" href="/gallery">General</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-mux">ABOUT US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact-us">CONTACT US</a>
        </li> 
      </ul>
    </div>
  </nav> -->

  <section id="prefirst">
    <div class="first">
        <h2>
            ABOUT MUX-MEDIA PHOTOGRAPHY
        </h2>
            <hr>
        <ul>
            <li>
                <a href="/">HOME</a>
                <div class="dropdown">
                  <button class="dropbtn">GALLERY</button>
                  <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                  </div>
                </div>
                <a href="/">ABOUT US</a>
                <a href="/">CONTACT US</a>
            </li>
        </ul>
    </div>
    <div class="picture">
        
    </div>
</section>


<section>
  <div class="second_cont">
      <div class="firsta">
          <h2>
              WHO WE ARE
          </h2>
      </div>
  <div>
    
  <div class="row rows">
    <div class="col-lg-6 col-sm-12" style = "margin-right: 0; margin-left: 0;">
      <img class="img-size" src="https://images.unsplash.com/photo-1601503302759-acdf6777c3e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80">
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="p">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati odio voluptatum dolorum ex ipsum provident explicabo porro earum nisi, eaque commodi odit consequatur eius quo ducimus deserunt? Eligendi, fugiat dolore!
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="second_cont">
      <div class="firsta">
          <h2>
              WHAT WE DO
          </h2>
      </div>
  <div>
    
  <div class="row rows">
    <div class="col-lg-6 col-sm-12" style = "margin-right: 0; margin-left: 0;">
      <img class="img-size" src="https://images.unsplash.com/photo-1601503302759-acdf6777c3e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80">
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="p">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati odio voluptatum dolorum ex ipsum provident explicabo porro earum nisi, eaque commodi odit consequatur eius quo ducimus deserunt? Eligendi, fugiat dolore!
        </p>
      </div>
    </div>
  </div>
</section>

<%- include("partials/contactFooter") %>