<%- include("partials/contactHeader") %>

  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent nav-static-top fixed-top">
    <a class="navbar-brand" href="/">Mux-Media Photography</a>
    <button class="navbar-toggler navbar-toggle-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GALLERY</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/gallery/products">Products</a>
            <a class="dropdown-item" href="/gallery/pre-wedding">Pre-wedding</a>
            <a class="dropdown-item" href="/gallery/wedding">Wedding</a>
            <a class="dropdown-item" href="/gallery/studio-shoot">Studio shoot</a>
            <a class="dropdown-item" href="/gallery/beauty">Beauty</a>
            <a class="dropdown-item" href="/gallery/portrait">Portrait</a>
            <a class="dropdown-item" href="/gallery">General</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-mux">ABOUT US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact-us">CONTACT US</a>
        </li> 
      </ul>
    </div>
  </nav>

  <div id="main">
    <div class="headText">
      <h2>GET IN TOUCH</h2>
    </div>
  
    <div class="main">
      <p class="p1">17a, Alao Street, Jakande, Ajangbadi, Ojo Lagos.</p>
      <p class="p2">08125946048, 09031855235</p>
      <p class="p3">@mux_media_photographY</p>
      <div id="icons">
        <a href="https://www.facebook.com/muxmediaphotography" target="_blank">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/mux_media_photography/" target="_blank">
          <i class="fab fa-instagram-square fa-2x"></i>
        </a>
        <a href="https://twitter.com/mux_media" target="_blank">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
        <a href="https://wa.me/2348125946048" target="_blank">
          <i class="fab fa-whatsapp fa-2x"></i>
        </a>
      </div>
      <p class="p4">Feel free to send us any messsage at any given time</p>
    </div>
  </div>



<%- include("partials/contactFooter") %>