<%- include("partials/homeHeader") %>
    <div id="slide">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-static-top bg-transparent fixed-top">
          <a class="navbar-brand" href="/">Mux_mediaPhotography</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">

                <% if(currentUser){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                     Signed in by <%=currentUser.username%>
                    </a>
                  </li>
                <% } %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GALLERY</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/gallery/products">Products</a>
                    <a class="dropdown-item" href="/gallery/pre-wedding">Pre-wedding</a>
                    <a class="dropdown-item" href="/gallery/wedding">Wedding</a>
                    <a class="dropdown-item" href="/gallery/studio-shoot">Studio shoot</a>
                    <a class="dropdown-item" href="/gallery/beauty">Beauty</a>
                    <a class="dropdown-item" href="/gallery/portrait">Portrait</a>
                    <a class="dropdown-item" href="/gallery">General</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about-mux">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">CONTACT US</a>
                </li>
                <% if(currentUser){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/mux-media/logout">Logout</a>
                  </li>
                <% } %>

              </ul>
            </div>
        </nav>    
    </div>
<%- include("partials/homeFooter") %>