<%- include("partials/galleryHeader") %>

    <nav class="navbar navbar-expand-lg navbar-light navbar-static-top fixed-top bg-transparent">
        <a class="navbar-brand" href="/">muxMedia<i class="fas fa-camera-retro fa-1x"></i></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="/gallery">GALLERY</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/about-mux">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact-us">CONTACT US</a>
            </li>
        </ul>
        </div>
    </nav>    
  

    <div class="container">
        <header class="jumbotron" style="background-color: rgba(255, 255, 255, 1);">
            <h1 style="font-size: 6em;">Mux' Media</h1>
            <p>“A good snapshot keeps a moment from running away.”<span class="p-ex">   ―  E. Welty</span></p>
        </header>
        <div class="container2">
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"><img src="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=1hotkF7JjgRbA-LI3L-ENNxLhOQ1fiKlP"><img src="https://drive.google.com/uc?export=download&id=1hotkF7JjgRbA-LI3L-ENNxLhOQ1fiKlP"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1598342991160-2cf6080ed285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1598342991160-2cf6080ed285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=12eO4RJx7exVfgaWJM76ARWyyZaJWwCTk"><img src="https://drive.google.com/uc?export=download&id=12eO4RJx7exVfgaWJM76ARWyyZaJWwCTk"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=1lKzzTMpexoxC0LkYdx6cnFFxdK4iQWMi"><img src="https://drive.google.com/uc?export=download&id=1lKzzTMpexoxC0LkYdx6cnFFxdK4iQWMi"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"><img src="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"><img src="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"></a>
            </div>
            
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=1hotkF7JjgRbA-LI3L-ENNxLhOQ1fiKlP"><img src="https://drive.google.com/uc?export=download&id=1hotkF7JjgRbA-LI3L-ENNxLhOQ1fiKlP"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1598342991160-2cf6080ed285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1598342991160-2cf6080ed285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=12eO4RJx7exVfgaWJM76ARWyyZaJWwCTk"><img src="https://drive.google.com/uc?export=download&id=12eO4RJx7exVfgaWJM76ARWyyZaJWwCTk"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div><div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=1lKzzTMpexoxC0LkYdx6cnFFxdK4iQWMi"><img src="https://drive.google.com/uc?export=download&id=1lKzzTMpexoxC0LkYdx6cnFFxdK4iQWMi"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"><img src="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=1hotkF7JjgRbA-LI3L-ENNxLhOQ1fiKlP"><img src="https://drive.google.com/uc?export=download&id=1hotkF7JjgRbA-LI3L-ENNxLhOQ1fiKlP"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1598342991160-2cf6080ed285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1598342991160-2cf6080ed285?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=12eO4RJx7exVfgaWJM76ARWyyZaJWwCTk"><img src="https://drive.google.com/uc?export=download&id=12eO4RJx7exVfgaWJM76ARWyyZaJWwCTk"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div><div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=1lKzzTMpexoxC0LkYdx6cnFFxdK4iQWMi"><img src="https://drive.google.com/uc?export=download&id=1lKzzTMpexoxC0LkYdx6cnFFxdK4iQWMi"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"><img src="https://drive.google.com/uc?export=download&id=13tpSlnIwfhsYafhdFy4-fqQJTfpE6upA"></a>
            </div>
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
            
            <div class="grid-item">
                <a data-fancybox="gallery" href="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"><img src="https://images.unsplash.com/photo-1558980664-ce6960be307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></a>
            </div>
        </div>
    </div>

<%- include("partials/galleryFooter") %>


