* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 0;
    margin-top: 3.8rem;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: rgb(19, 18, 18);
    font-weight: 550;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: black;
    font-weight: 700;
}

.navbar-light .navbar-brand {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}



.jumbotron {
    background-color: white;
    padding: 4rem 0rem;
}

.bg-light {
    background-color: rgba(255, 255, 255, 1)!important;
}

@media (min-width: 282px){
    .container2{
        column-count: 3;
    }
}

.container2 {
    width: 80%;
    column-count: 4;
    margin: 0 auto;
}

.grid-item img{
    width: 100%;
    height: auto;
    margin: 1em 1em 1em 0.5em;
}

img {
    vertical-align: bottom;
 }

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

p {
    border: solid 1px rgb(19, 19, 19);
    background-color: rgb(55, 55, 55);
    font-family: 'Playfair Display', serif;
    font-size: 1.15em;
    font-style: italic;
    color: #FFD700;
}

.p-ex {
    font-weight: bolder;
}

@media only screen and (max-width: 768px){
    .container2{
        column-count: 3;
    }
}
