html, body {
background-color: #1f000f;
height: 100%;
margin: 0;
padding: 0;
}

@font-face {
font-family: 'FontAwesome';
src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
font-weight: normal;
font-style: normal;
}

/*  */
@keyframes breath {
0%{
    background-size: 130% auto;
}
50%{
    background-size: 210% auto;
}
100%{
    background-size: 130% auto;
}
}

#slide{
width: 99%;
height: 99%;
margin: 0 auto;
animation: breath 20s linear infinite;
background: url("../homeImg/DSC_3798.JPG") center center no-repeat;
}

.navbar-dark .navbar-nav .nav-link {
font-family: 'Montserrat', sans-serif;
font-size: 10px;
color: rgb(243, 240, 240);
font-weight: 550;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
color: rgba(255, 255, 255, 1);
font-weight: 700;
}

.nav-link {
display: block;
padding: .15rem .5rem;
}

.navbar-dark .navbar-brand {
color: rgba(255,255,255, 1);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 13px;
font-weight: 550;
}

.navbar-dark .navbar-brand:hover {
color: rgba(255,255,255, 1);
}

.navbar-toggler-icon{
    width: 25px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: #212529;
    text-align: left;
    list-style: none;
    /*  */
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu{
    border: none;
}

.dropdown-item {
    /*  */
    color:  rgb(255, 255, 255);
}

.dropdown-item:hover {
    /*  */
    background-color: rgba(255, 255, 255, 0.3);
    color:  rgb(0, 0, 0);
    font-weight: 600;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    /* remove the gap so it doesn't close */
}
@media only screen and (min-width: 768px){
    @keyframes breath {
        0%{
            background-size: 100% auto;
        }
        50%{
            background-size: 135% auto;
        }
        100%{
            background-size: 100% auto;
        }
    }
    .navbar-dark .navbar-nav .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        color: rgb(243, 240, 240);
        font-weight: 550;
    }
    .navbar-dark .navbar-brand {
        color: rgba(255,255,255, 1);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
        font-weight: 550;
    }
    .navbar-toggler-icon{
        width: 43px;
    }
    .dropdown-item {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1000px) {
    @keyframes breath {
        0%{
            background-size: 100% auto;
        }
        50%{
            background-size: 120% auto;
        }
        100%{
            background-size: 100% auto;
        }
    }
    #slide{
        width: 99%;
        height: 99%;
        margin: 0 auto;
        animation: breath 20s linear infinite;
        /* background: url("../homeImg/DSC_3798.JPG") center top no-repeat; */
        background: url("../homeImg/DSC_3798.JPG") 73% 37% no-repeat;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: rgb(243, 240, 240);
        font-weight: 550;
    }
    .navbar-dark .navbar-brand {
        color: rgba(255,255,255, 1);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 550;
    }
    .dropdown-item {
        font-size: 13px;
    }
}